body{font-size: 24px;
    font-family: Calibri;}

.header{display: flex;
        justify-content: space-between;
        top: 64px;}

.logo-title{display: flex;
            }
.logo{display: flex;
      margin-left: 1rem;
    }

.title h3 {
  display: flex;
}

.nav{
    margin: auto;
    margin-right: 0;
    color: grey;
    }

span .link{margin-right: 0.67rem;
      color: grey;
      font-size: 1.2rem;}

.button .link{color: white;}

.banner1{flex-flow: row;
         display: flex;
          background-color: #d8d8d8;
          margin: auto;
          justify-content: space-between;}

.box{box-sizing: border-box;
     width: 60%;
      }
.content{width: 40%;}
.box2{box-sizing: border-box;
     width: 60%;
    display: flex;
    border: 1px solid black;
    flex-flow: column;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;}

.box img{
     box-sizing: inherit;
     margin-left: 1rem;
     margin-right: 1rem;
     margin-top: 1rem;
     margin-bottom: 1rem;
     border: 1px black solid;
          }

.content {align-items: center;
          margin-left: 4rem;
          border: 1px black solid;
          margin-top: 2rem;
          margin-bottom: 2rem;
              }
.button{display: flex;
        justify-content: center;
        background-color: #4a4a4a;
        border: solid 1px black;
        padding-top: 0.25rem;
        padding-bottom: .25rem;
        margin-left: 8rem;
      margin-right: 8rem;
      color: white;}

.button:hover{background-color: black;
              transition: background-color 4s linear 4s;}

  .button:active{background-color: lightgrey;
                            }

.master-banner{display: flex;
                flex-flow: column;}


.banner2{display:flex;
          flex-flow: row;}
.box2{width: 60%;}
.box3{width: 40%;}

.content3{display: flex;
          flex-flow: row;
          border: solid 1px black;
          margin-top:1.5rem;
          height: inherit;
          box-sizing: border-box;
          }

.writing{display: flex;
        flex-flow:column;}

.content3 img{width: 35%;
              height: 60%;
              display: flex;
              border: black 1px solid;
              align-items: center;
              margin: 0.667rem;}
.content3{height: auto;}

.writing{display:flex;
        border: 1px solid black;
        width: 65%;
        }

.writing ul span:first-child{font-weight: bold;
                    font-size: 1.5rem;
                    display: block;
                    margin-top: 0.8rem;
                    margin-bottom: 0.8rem;}

.writing ul span:nth-child(2n+0){font-size: 1rem;
                        display: block;
                          margin-bottom: 0.8rem;}

.writing ul span .link:last-child{color: blue;
                   font-size: 1rem;
                    display: block;
                    margin-bottom: 0.8rem;

                }


.banner3{background-color: #eaebec;
         display: flex;
        flex-flow: row;
        padding-left: 3rem;
      padding-right: 3rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
          }

.explanation span{display: block;}
.container1, .container2, .container3{border: 1px solid black;
                                      flex-flow: column;
                                      width: 33%;
                                      text-align: left;
                                      align-items: center;
                                      justify-content: space-between;
                                      flex: 2;
                                      align-items: space-between;


                                      }

.child-container{border:1px solid black;
                 box-sizing: border-box;
                 margin: 1rem;
                 }

.child-container img{height: 100%;
              width: inherit;
              display: flex;
              border: black 1px solid;
              align-items: center;


            }


.square{border:1px solid black;
        box-sizing: border-box;
                 width: 100%;}

.explanation{background-color: white;
            padding-top: 0.6667rem;
            padding-bottom: 0.6667rem;
            height: 8rem;
            }

.explanation ul span:first-child{font-weight: bold;
                                background-color: white;
                                size: 2rem;}

.explanation ul span:last-child{font-weight: normal;
                                  size: 0.7rem;
                                  color: black;
                                }

.explanation ul span:nth-child(2n+0){font-weight: normal;
  size: 1rem;
  color: black;
  font-style: italic;}

.title{text-align: center;
       font-weight: bold;
        font-size: 2rem;}

.banner4{margin: 1rem;}

.banner4-child{display: flex;
              flex-flow: row;
              width: 100%;
              border: 1px solid black;}

.video{display: flex;
       flex-flow: column;
       width:60%;
       border: 1px solid black;
       margin-right: 1rem;
        }

.video ul span:last-child{font-size: 1rem;
                          font-weight: normal;
                          color: black;}
.banner4-child video{width: 100%;
                    }

.information{width:40%;
            }

.information-child1{display: flex;
                  flex-flow: row;
                background color: #d8d8d8;
                border: 1px solid black;
                box-sizing: border-box;

                  }

.information-child1 img{width: 35%;
                        border: 1px solid black;
                        height: 100%;
                        margin-bottom: 1rem;}

.information-child1 ul span:first-child{font-size: 1.5rem;
                                        font-weight: bold;
                                        margin-top: 0.5rem;}
.information-child1 ul span:last-child{font-size: 1rem;
                                        font-weight: normal;
                                        color: black;
                                        margin-top: 0.5rem;
                                        display: block;}
.information-child2{display: flex;
                          flex-flow: row;
                              border: 1px solid black;        }

.information-child2 img{width: 35%;
                        border: 1px solid black;
                        height: 55%;
                        }

.information-child2 ul span:first-child{font-size: 1.5rem;
                      font-weight: bold;
                      margin-top: 2rem;}

.information-child2 ul span:last-child{font-size: 1rem;
                            font-weight: normal;
                                color: black;
                                margin-top: 0.333rem;
                              display: block;}
.video ul span{display: block;}
  .footer{border-top: grey 0.25px solid;
          margin-top: 1.5rem;
          padding-top: 0.25rem;
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          font-size: 1rem;
          color: grey;}

.copyright{margin-left: 1rem;
            margin-top: 0.25rem;}
.terms{margin-top: 0.25rem;}

@media only screen and (max-width: 480px){
  .header{background: white;
          position: fixed;
          display: none;
          }
  .banner1{display: flex;
            flex-flow: column;}
                   
}
